{% extends "layouts/main.html" %}
{% load static %}
{% block html_class %}rich_page home_page inside_page_header_design{% endblock %}

{% block content %}
<section id="section-64e5fc5dc9b2e" class="s123-module s123-module-rich-page layout-1 bg-primary"
  data-module-id="64e5fc5dc9b2e" data-module-type-num="128" data-sections-amount="5"></section>
<section id="section-64e4cac319107" class="s123-module s123-module-content-page layout-1 bg-primary r-c-f-c"
  data-module-id="64e4cac319107" data-module-type-num="95">
  <div class="container-fluid page_header_style noBackground">
    <div class="row">
      <div class="container moduleTitleContainer">
        <div class="row modulesTitle text-center">
          <div class="col-xs-12">
            <div class="page-header-wrap">
              <H1 id="section-64e4cac319107-title" class="s123-page-header  ">Xalqaro Nordik Universiteti haqida
              </H1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" data-aos="fade-up">
    <div class="responsive-handler fr-view breakable">
      <div class="s123-editor">
        <p style="text-align: justify;">Nordic International University <strong>2022-yilda</strong> tashkil
          etilgan <strong>(Lisenziya: 08.08.2022 y. 034528, 28.12.2022 № 056003. NORDIC INTERNATIONAL UNIVERSITY
            LLC)</strong>, yuqori malakali mutaxassislar tayyorlashga yoʻnaltirilgan birinchi xususiy xalqaro
          universitetlardan biri hisoblanadi. ta'lim sohasida.</p>
        <p style="text-align: justify;"><strong>Bizning maqsadimiz</strong> – kadrlar tayyorlash, ularni
          takomillashtirish va qayta tayyorlash, xususan: ta’lim jarayonining barcha ishtirokchilarining bilim
          olishini ta’minlash, pedagogik kashfiyotlar qilish, yangi g‘oyalar yaratish, bilim, hikmat va
          qadriyatlarni mustahkamlash, sinab ko‘rish, asrab-avaylash va yetkazishdir. innovatsiyalar va
          ijodkorlikni rag'batlantirish, amaliy ta'lim tadqiqotlari va tadbirkorlik muhitini yaratishga xizmat
          qiladi.</p>
        <p style="text-align: justify;"><strong>Kutilayotgan natija</strong> – eng yaxshi o‘qituvchilar,
          innovatorlar, tadbirkorlar va o‘z sohasi bo‘yicha kuchli mutaxassislarni tayyorlash va
          yetishtirishdir.</p>
        <p style="text-align: justify;"><em>Bu xorijiy ta’lim tajribasini o‘rganish va qo‘llashdan iborat. Bizda
            sifatli va adolatli ta'limni ta'minlaydigan mahalliy va xalqaro ekspertlar fakulteti mavjud.</em>
        </p>
        <p style="text-align: justify;"><strong>Web-sayt:</strong> <a
            href="https://nordicuniversity.org/">https://nordicuniversity.org/</a></p>
        <p style="text-align: justify;"><strong>Kontakt: </strong>+998555084400</p>
      </div>
    </div>
  </div>
</section>
<section id="section-64e5fc5dc9b2f" class="s123-module s123-module-portfolio layout-2" data-module-id="64e5fc5dc9b2f"
  data-module-type-num="106">
  <div class="container"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="portfolio-images-container">
          <li class="portfolio-image">
            <div class="thumbnail">
              <div class="p-i-b mfp-image preview-highlighter" data-unique-id="64e5fc5fac170"
                data-mfp-src="../images.cdn-files-a.com/uploads/8437729/800_64e5fcdc3a66b.jpg">
                <!-- Link To Page --><a
                  href="%d0%9f%d0%be%d1%80%d1%82%d1%84%d0%be%d0%bb%d0%b8%d0%be/talabalar-hayoti.html"
                  class="portfolio-image-link s123-fast-page-load" data-allow-external-link="true"
                  title="Talabalar hayoti"><!-- Image -->
                  <div class="p-i bgLazyload s123-image-ratio-4-3"
                    data-bg="https://images.cdn-files-a.com/uploads/8437729/800_64e5fcdc3a66b.jpg" role="img"
                    aria-label="Talabalar hayoti" style="background-position:center center;"></div>
                  <!-- Title -->
                  <div class="breakable p-t-c"><span class="title">Talabalar hayoti</span><!-- View Btn --><span
                      class="p-v-b">Смотреть</span></div>
                </a>
              </div>
            </div>
          </li>
          <li class="portfolio-image">
            <div class="thumbnail">
              <div class="p-i-b mfp-image preview-highlighter" data-unique-id="64e5fd540ba94"
                data-mfp-src="../images.cdn-files-a.com/uploads/8437729/800_64e5fd35c8912.jpg">
                <!-- Link To Page --><a
                  href="%d0%9f%d0%be%d1%80%d1%82%d1%84%d0%be%d0%bb%d0%b8%d0%be/xalqaro-uchrashuvlar.html"
                  class="portfolio-image-link s123-fast-page-load" data-allow-external-link="true"
                  title="XALQARO UCHRASHUVLAR"><!-- Image -->
                  <div class="p-i bgLazyload s123-image-ratio-4-3"
                    data-bg="https://images.cdn-files-a.com/uploads/8437729/800_64e5fd35c8912.jpg" role="img"
                    aria-label="XALQARO UCHRASHUVLAR" style="background-position:center center;"></div>
                  <!-- Title -->
                  <div class="breakable p-t-c"><span class="title">XALQARO
                      UCHRASHUVLAR</span><!-- View Btn --><span class="p-v-b">Смотреть</span></div>
                </a>
              </div>
            </div>
          </li>
          <li class="portfolio-image">
            <div class="thumbnail">
              <div class="p-i-b mfp-image preview-highlighter" data-unique-id="64e5fd86b3fda"
                data-mfp-src="../images.cdn-files-a.com/uploads/8437729/800_64e5fd6fd800c.jpg">
                <!-- Link To Page --><a
                  href="%d0%9f%d0%be%d1%80%d1%82%d1%84%d0%be%d0%bb%d0%b8%d0%be/kitob-mutolaasi.html"
                  class="portfolio-image-link s123-fast-page-load" data-allow-external-link="true"
                  title="Kitob mutolaasi"><!-- Image -->
                  <div class="p-i bgLazyload s123-image-ratio-4-3"
                    data-bg="https://images.cdn-files-a.com/uploads/8437729/800_64e5fd6fd800c.jpg" role="img"
                    aria-label="Kitob mutolaasi" style="background-position:center center;"></div><!-- Title -->
                  <div class="breakable p-t-c"><span class="title">Kitob mutolaasi</span><!-- View Btn --><span
                      class="p-v-b">Смотреть</span></div>
                </a>
              </div>
            </div>
          </li>
          <li class="portfolio-image">
            <div class="thumbnail">
              <div class="p-i-b mfp-image preview-highlighter" data-unique-id="64e5fdb78b767"
                data-mfp-src="{% static 'images/8437729/800_64e5fd950a5fa.jpg' %}">
                <!-- Link To Page --><a
                  href="%d0%9f%d0%be%d1%80%d1%82%d1%84%d0%be%d0%bb%d0%b8%d0%be/bizning-universitet.html"
                  class="portfolio-image-link s123-fast-page-load" data-allow-external-link="true"
                  title="BIZNING UNIVERSITET"><!-- Image -->
                  <div class="p-i bgLazyload s123-image-ratio-4-3"
                    data-bg="https://images.cdn-files-a.com/uploads/8437729/800_64e5fd950a5fa.jpg" role="img"
                    aria-label="BIZNING UNIVERSITET" style="background-position:center center;"></div>
                  <!-- Title -->
                  <div class="breakable p-t-c"><span class="title">BIZNING
                      UNIVERSITET</span><!-- View Btn --><span class="p-v-b">Смотреть</span></div>
                </a>
              </div>
            </div>
          </li>
          <li class="portfolio-image">
            <div class="thumbnail">
              <div class="p-i-b mfp-image preview-highlighter" data-unique-id="64e5fe0de1b3d"
                data-mfp-src="../images.cdn-files-a.com/uploads/8437729/800_64e5fdd5e9258.jpg">
                <!-- Link To Page --><a
                  href="%d0%9f%d0%be%d1%80%d1%82%d1%84%d0%be%d0%bb%d0%b8%d0%be/hurmatli-mehmonlarimiz.html"
                  class="portfolio-image-link s123-fast-page-load" data-allow-external-link="true"
                  title="HURMATLI MEHMONLARIMIZ"><!-- Image -->
                  <div class="p-i bgLazyload s123-image-ratio-4-3"
                    data-bg="https://images.cdn-files-a.com/uploads/8437729/800_64e5fdd5e9258.jpg" role="img"
                    aria-label="HURMATLI MEHMONLARIMIZ" style="background-position:center center;"></div>
                  <!-- Title -->
                  <div class="breakable p-t-c"><span class="title">HURMATLI
                      MEHMONLARIMIZ</span><!-- View Btn --><span class="p-v-b">Смотреть</span></div>
                </a>
              </div>
            </div>
          </li>
          <li class="portfolio-image">
            <div class="thumbnail">
              <div class="p-i-b mfp-image preview-highlighter" data-unique-id="64e5fe52b5afe"
                data-mfp-src="../images.cdn-files-a.com/uploads/8437729/800_64e5fe31f22a3.jpg">
                <!-- Link To Page --><a
                  href="%d0%9f%d0%be%d1%80%d1%82%d1%84%d0%be%d0%bb%d0%b8%d0%be/finlandiya-talablari.html"
                  class="portfolio-image-link s123-fast-page-load" data-allow-external-link="true"
                  title="FINLANDIYA TALABLARI"><!-- Image -->
                  <div class="p-i bgLazyload s123-image-ratio-4-3"
                    data-bg="https://images.cdn-files-a.com/uploads/8437729/800_64e5fe31f22a3.jpg" role="img"
                    aria-label="FINLANDIYA TALABLARI" style="background-position:center center;"></div>
                  <!-- Title -->
                  <div class="breakable p-t-c"><span class="title">FINLANDIYA
                      TALABLARI</span><!-- View Btn --><span class="p-v-b">Смотреть</span></div>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="section-64e5fe87c9c50" class="s123-module s123-module-gallery layout-6 bg-primary disable-context-menu "
  data-module-id="64e5fe87c9c50" data-module-type-num="1" data-prevent-download-image="">
  <div class="container-fluid page_header_style noBackground">
    <div class="row">
      <div class="container moduleTitleContainer">
        <div class="row modulesTitle text-center">
          <div class="col-xs-12">
            <div class="page-header-wrap">
              <H1 id="section-64e5fe87c9c50-title" class="s123-page-header  ">NORMATIV HUJJATLAR</H1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" data-aos="fade-up">
    <div class="row text-center">
      <div class="s123-categories col-xs-12" style="display:none;">
        <ul class="filter" data-category-layouts="true">
          <li
            data-filter="gggiD0gggi9BgggiD0gggiB8gggiD1gggi86gggiD0gggiB5gggiD0gggiBDgggiD0gggiB7gggiD0gggiB8gggiD1gggi8F-gggiD0gggiB8-gggiD1gggi81gggiD0gggiB5gggiD1gggi80gggiD1gggi82gggiD0gggiB8gggiD1gggi84gggiD0gggiB8gggiD0gggiBAgggiD0gggiB0gggiD1gggi82">
            <a href="#">Лицензия и сертификат</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container gallery-container">
    <div class="row isotope-gallery-container">
      <div class="gallery-images-container" data-filter="s123-g-show-all">
        <div class="gallery-image g-i" data-tool-title="NORMATIV HUJJATLAR" title=""
          data-image-page-url="/normativ-hujjatlar-1/item-id-64e5fee488f59" data-image-description="" data-image-link=""
          data-image-link-text=""><img
            data-flickity-lazyload="https://images.cdn-files-a.com/uploads/8437729/2000_64e5fee36453c.png" alt="" />
        </div>
        <div class="gallery-image g-i" data-tool-title="NORMATIV HUJJATLAR" title=""
          data-image-page-url="/normativ-hujjatlar-1/item-id-64e5fee423126" data-image-description="" data-image-link=""
          data-image-link-text=""><img
            data-flickity-lazyload="https://images.cdn-files-a.com/uploads/8437729/2000_64e5fee3113e1.png" alt="" />
        </div>
        <div class="gallery-image g-i" data-tool-title="NORMATIV HUJJATLAR" title=""
          data-image-page-url="/normativ-hujjatlar-1/item-id-64e5fee4a65e8" data-image-description="" data-image-link=""
          data-image-link-text=""><img
            data-flickity-lazyload="https://images.cdn-files-a.com/uploads/8437729/2000_64e5fee38c9fe.png" alt="" />
        </div>
        <div class="gallery-image g-i" data-tool-title="NORMATIV HUJJATLAR" title=""
          data-image-page-url="/normativ-hujjatlar-1/item-id-64e5fee470597" data-image-description="" data-image-link=""
          data-image-link-text=""><img
            data-flickity-lazyload="https://images.cdn-files-a.com/uploads/8437729/2000_64e5fee364212.png" alt="" />
        </div>
      </div>
      <p class="gallery-image-caption" data-filter="s123-g-show-all"></p>
      <div class="gallery-category-description"
        data-filter="gggiD0gggi9BgggiD0gggiB8gggiD1gggi86gggiD0gggiB5gggiD0gggiBDgggiD0gggiB7gggiD0gggiB8gggiD1gggi8F-gggiD0gggiB8-gggiD1gggi81gggiD0gggiB5gggiD1gggi80gggiD1gggi82gggiD0gggiB8gggiD1gggi84gggiD0gggiB8gggiD0gggiBAgggiD0gggiB0gggiD1gggi82">
      </div>
      <div class="gallery-images-container"
        data-filter="gggiD0gggi9BgggiD0gggiB8gggiD1gggi86gggiD0gggiB5gggiD0gggiBDgggiD0gggiB7gggiD0gggiB8gggiD1gggi8F-gggiD0gggiB8-gggiD1gggi81gggiD0gggiB5gggiD1gggi80gggiD1gggi82gggiD0gggiB8gggiD1gggi84gggiD0gggiB8gggiD0gggiBAgggiD0gggiB0gggiD1gggi82">
        <div class="gallery-image g-i" data-tool-title="NORMATIV HUJJATLAR" title=""
          data-image-page-url="/normativ-hujjatlar-1/item-id-64e5fee488f59" data-image-description="" data-image-link=""
          data-image-link-text=""><img
            data-flickity-lazyload="https://images.cdn-files-a.com/uploads/8437729/2000_64e5fee36453c.png" alt="" />
        </div>
        <div class="gallery-image g-i" data-tool-title="NORMATIV HUJJATLAR" title=""
          data-image-page-url="/normativ-hujjatlar-1/item-id-64e5fee423126" data-image-description="" data-image-link=""
          data-image-link-text=""><img
            data-flickity-lazyload="https://images.cdn-files-a.com/uploads/8437729/2000_64e5fee3113e1.png" alt="" />
        </div>
        <div class="gallery-image g-i" data-tool-title="NORMATIV HUJJATLAR" title=""
          data-image-page-url="/normativ-hujjatlar-1/item-id-64e5fee4a65e8" data-image-description="" data-image-link=""
          data-image-link-text=""><img
            data-flickity-lazyload="https://images.cdn-files-a.com/uploads/8437729/2000_64e5fee38c9fe.png" alt="" />
        </div>
        <div class="gallery-image g-i" data-tool-title="NORMATIV HUJJATLAR" title=""
          data-image-page-url="/normativ-hujjatlar-1/item-id-64e5fee470597" data-image-description="" data-image-link=""
          data-image-link-text=""><img
            data-flickity-lazyload="https://images.cdn-files-a.com/uploads/8437729/2000_64e5fee364212.png" alt="" />
        </div>
      </div>
      <p class="gallery-image-caption"
        data-filter="gggiD0gggi9BgggiD0gggiB8gggiD1gggi86gggiD0gggiB5gggiD0gggiBDgggiD0gggiB7gggiD0gggiB8gggiD1gggi8F-gggiD0gggiB8-gggiD1gggi81gggiD0gggiB5gggiD1gggi80gggiD1gggi82gggiD0gggiB8gggiD1gggi84gggiD0gggiB8gggiD0gggiBAgggiD0gggiB0gggiD1gggi82">
      </p>
    </div>
  </div><!-- layout Customize --><input type="hidden" class="layout-customize"
    value="{&quot;display_type&quot;:&quot;standard&quot;,&quot;carouselInterval&quot;:&quot;5&quot;,&quot;autoPlay&quot;:false,&quot;number_images_in_row&quot;:&quot;4&quot;,&quot;mobile_number_images_in_row&quot;:&quot;2&quot;,&quot;hide_section_title&quot;:&quot;0&quot;,&quot;style_background_color&quot;:&quot;1&quot;}">
</section>
<section id="section-64e5ff2ac9d31"
  class="s123-module s123-module-headers layout-26 bg-half-opacity headers-fix-mobile-height   "
  data-parallax-images-amount="3" data-module-id="64e5ff2ac9d31" data-module-type-num="167" data-slider-speed="5"
  data-menu-opacity="true" data-version=""><!-- Manage Buttons --><!-- Container -->
  <div class="container-fluid"><!-- Top Adds --><!-- Container -->
    <div class="headers-container  hpm-height-30vh">
      <div class="headers-text-wrap container ">
        <div>
          <div class="headers-text-orders  header-text-shadow headers-text-resize-container"><!-- Header 1 -->
            <div data-aos="fade-up"></div>
            <div class="header-spacer headers-text-separator" style="display: none;"></div><!-- Header 2 -->
            <div data-aos="fade-up">
              <div class="m-h-item header2 custom-font-settings   header-modules-header-font"
                style="--header-font-size: 19;" data-custom-font="" data-is-italic-supported="" data-line-height="">BIZ
                BILAN XALQARO NORDIK UNIVERSITET TALABASI BO&#39;LING!</div>
            </div>
          </div><!-- Container -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <div class="header-spacer" data-text-exist="true" data-action-exist="false"></div>
                <!-- Call To Action -->
              </div>
            </div>
          </div>
        </div>
      </div><!-- Images -->
      <div class="headers-img-wrap">
        <div data-ride="carousel" class=" carousel slide carousel-fade  ">
          <div class="carousel-inner"><!-- Carousel Slides / Quotes -->
            <div class="item active ">
              <div class="headers-item">
                <div class="headers-image "
                  data-bg="https://images.cdn-files-a.com/uploads/8437729/2000_64e5ff67ba311.jpg"
                  style="background-image:url({% static 'images/8437729/2000_64e5ff67ba311.jpg' %}); background-position:55.66% 43.52%;">
                </div>
              </div>
            </div>
            <div class="item  ">
              <div class="headers-item">
                <div class="headers-image "
                  data-bg="https://images.cdn-files-a.com/uploads/8437729/2000_64e605aa4ca94.jpg"
                  style="background-image:url({% static 'images/8437729/2000_64e605aa4ca94.jpg' %}); background-position:61.42% 34.42%;">
                </div>
              </div>
            </div>
            <div class="item  ">
              <div class="headers-item">
                <div class="headers-image "
                  data-bg="https://images.cdn-files-a.com/uploads/8437729/2000_64e605ba76c88.jpg"
                  style="background-image:url({% static 'images/8437729/2000_64e605ba76c88.jpg' %}); background-position:63.53% 18.16%;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Bottom Adds -->
  </div>
</section>
<section id="section-64e5ff96c9d84" class="s123-module s123-module-carousel layout-1 bg-primary"
  data-module-id="64e5ff96c9d84" data-module-type-num="13">
  <div class="container-fluid page_header_style noBackground">
    <div class="row">
      <div class="container moduleTitleContainer">
        <div class="row modulesTitle text-center">
          <div class="col-xs-12">
            <div class="page-header-wrap">
              <H1 id="section-64e5ff96c9d84-title" class="s123-page-header  ">HAMKORLARIMIZ</H1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" data-aos="fade-up"><!-- Categories Area -->
    <div class="text-center"><!-- Categories area -->
      <div class="row" style="display:none;">
        <div class="s123-categories col-xs-12">
          <ul class="items-categories-container" data-category-layouts="true">
            <li data-categories-filter="all"><a href="#">All</a></li>
          </ul>
        </div>
      </div>
    </div><!-- Items Area -->
    <div class="row text-center">
      <div class="carousel-category" data-categories-filter="all">
        <div class="col-md-12 center">
          <div class="owl-carousel owl-theme mt-xl manual" data-itmes="6"
            data-plugin-options='{"items": 6, "autoplay": true, "autoplayTimeout": 3000, "center": false,"dots": false, "dotsEach": true, "margin": 10, "loop": true}'>
            <div>
              <div class="p-h-e-bottom-0 preview-highlighter" data-unique-id="64e601a4d545f"
                style="display: inline-block;"><img class="img-responsive lazyload"
                  data-src="https://images.cdn-files-a.com/uploads/8437729/400_64e6019d586c4.png" alt="" title=""></div>
            </div>
            <div>
              <div class="p-h-e-bottom-0 preview-highlighter" data-unique-id="64e601adc8459"
                style="display: inline-block;"><img class="img-responsive lazyload"
                  data-src="https://images.cdn-files-a.com/uploads/8437729/400_64e601a93fa4f.png" alt="" title=""></div>
            </div>
            <div>
              <div class="p-h-e-bottom-0 preview-highlighter" data-unique-id="64e601b66b925"
                style="display: inline-block;"><img class="img-responsive lazyload"
                  data-src="https://images.cdn-files-a.com/uploads/8437729/400_64e601b2389cd.png" alt="" title=""></div>
            </div>
            <div>
              <div class="p-h-e-bottom-0 preview-highlighter" data-unique-id="64e601beb7c74"
                style="display: inline-block;"><img class="img-responsive lazyload"
                  data-src="https://images.cdn-files-a.com/uploads/8437729/400_64e601ba58d3b.png" alt="" title=""></div>
            </div>
            <div>
              <div class="p-h-e-bottom-0 preview-highlighter" data-unique-id="64e601c6eecac"
                style="display: inline-block;"><img class="img-responsive lazyload"
                  data-src="https://images.cdn-files-a.com/uploads/8437729/400_64e601c2b03d6.png" alt="" title=""></div>
            </div>
            <div>
              <div class="p-h-e-bottom-0 preview-highlighter" data-unique-id="64e601cf1a836"
                style="display: inline-block;"><img class="img-responsive lazyload"
                  data-src="https://images.cdn-files-a.com/uploads/8437729/400_64e601cb21244.png" alt="" title=""></div>
            </div>
            <div>
              <div class="p-h-e-bottom-0 preview-highlighter" data-unique-id="64e601db36209"
                style="display: inline-block;"><img class="img-responsive lazyload"
                  data-src="https://images.cdn-files-a.com/uploads/8437729/400_64e601d645079.png" alt="" title=""></div>
            </div>
            <div>
              <div class="p-h-e-bottom-0 preview-highlighter" data-unique-id="64e601e512322"
                style="display: inline-block;"><img class="img-responsive lazyload"
                  data-src="https://images.cdn-files-a.com/uploads/8437729/400_64e601e10ac18.png" alt="" title=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.container -->
</section>
{% endblock %}