{% extends "layouts/main.html" %}
{% load static %}
{% block html_class %}inside_page inside_page_header_design{% endblock %}

{% block content %}
<section id="section-64e4c9e818f38" class="s123-module s123-module-content-page layout-1 bg-primary"
  data-module-id="64e4c9e818f38" data-module-type-num="95">
  <div class="container-fluid page_header_style noBackground">
    <div class="row">
      <div class="container moduleTitleContainer">
        <div class="row modulesTitle text-center">
          <div class="col-xs-12">
            <div class="page-header-wrap">
              <H1 id="section-64e4c9e818f38-title" class="s123-page-header  ">Biz haqimizda</H1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="responsive-handler fr-view breakable">
      <div class="s123-editor">
        <p style="text-align: justify;"><img
            src="{% static 'images/8437729/2000_65eac0294e11e.png' %}" style="width: 300px;"
            class="fr-fic fr-dib"></p>
        <p style="text-align: justify;"><strong>O‘ZBEKISTON RESPUBLIKASI PREZIDENTINING 2023-YIL 28 FEVRALDAGI
            PF-27-SONLI &nbsp;</strong></p>
        <p style="text-align: justify;"><em>“OLIY TA’LIM MUASSASALARIDA ILG‘OR XORIJIY TAJRIBALARDAN FOYDALANISH
            SAMARADORLIGINI OSHIRISH VA PROFESSOR-O‘QITUVCHILARNI XORIJIY DAVLATLARDA MALAKA OSHIRISH VA
            STAJIROVKA O‘TASH UCHUN YUBORISH”&nbsp;</em>FARMONI,&nbsp;</p>
        <p style="text-align: justify;"><strong>2023 YIL 28 FEVRAL</strong>DAGI <strong>PF-27-SONLI</strong>
          <em>“2022 — 2026 YILLARGA MO‘LJALLANGAN YANGI O‘ZBEKISTONNING TARAQQIYOT STRATEGIYASINI «INSONGA
            E’TIBOR VA SIFATLI TA’LIM YILI»&nbsp;</em>DA AMALGA OSHIRISHGA OID DAVLAT DASTURI TO‘G‘RISIDA”GI
          FARMONINING <strong>46-MAQSAD</strong> <strong>167 BANDIDA</strong> <em>“OLIY TA’LIM MUASSASALARIDA
            ILG‘OR XORIJIY TAJRIBALARDAN FOYDALANISH SAMARADORLIGINI OSHIRISH VA PROFESSOR-O‘QITUVCHILARNI
            XORIJIY DAVLATLARDA MALAKA OSHIRISH VA STAJIROVKA O‘TASH UCHUN YUBORISH”</em> TOPSHIRIQLARI
          BERILGAN.&nbsp;
        </p>
        <p style="text-align: justify;">SHUNINGDEK, STAJIROVKALAR &nbsp;OLIY TA’LIM, FAN VA INNOVATSIYALAR
          VAZIRLIGINING <strong>2023-YIL 26-OKTYABR</strong>DAGI <strong>3/14-26/10 SON</strong> XATIDA
          <em>“2024-2030-YILLARDA XORIJIY VA MAHALLIY GRANT MABLAG‘LARI, SHUNINGDEK OLIY TA’LIM
            MUASSSASALARINING BYUDJETDAN TASHQARI MABLAG‘LARI HISOBIDAN PROFESSOR-O‘QITUVCHILARNI HAR YILI
            XORIJIY DAVLATLARGA TAJRIBA ALMASHISH UCHUN YUBORISH REJASI”</em> ASOSIDA TASHKIL ETILADI.
        </p>
        <p style="text-align: justify;"><strong>Bizning maqsadimiz</strong> – kadrlar tayyorlash, ularni
          takomillashtirish va qayta tayyorlash,&nbsp;</p>
        <p style="text-align: justify;">Xususan: ta’lim jarayonining barcha ishtirokchilarining bilim olishini
          ta’minlash, pedagogik kashfiyotlar qilish, yangi g‘oyalar yaratish, bilim, hikmat va qadriyatlarni
          mustahkamlash, sinab ko‘rish, asrab-avaylash va yetkazishdir. innovatsiyalar va ijodkorlikni
          rag'batlantirish, amaliy ta'lim tadqiqotlari va tadbirkorlik muhitini yaratishga xizmat qiladi.</p>
        <p style="text-align: justify;"><strong>Kutilayotgan natija</strong> – eng yaxshi o‘qituvchilar,
          innovatorlar, tadbirkorlar va o‘z sohasi bo‘yicha kuchli mutaxassislarni tayyorlash va
          yetishtirishdir.</p>
        <p style="text-align: justify;"><em>Bu xorijiy ta’lim tajribasini o‘rganish va qo‘llashdan iborat. Bizda
            sifatli va adolatli ta'limni ta'minlaydigan mahalliy va xalqaro ekspertlar fakulteti mavjud.</em>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}