{% extends "layouts/main.html" %}
{% load static %}


{% block html_class %}rich_page home_page inside_page_header_design{% endblock %}

{% block content %}
<section id="section-66308c4e1ae02" class="s123-module s123-module-rich-page layout-1 bg-primary"
  data-module-id="66308c4e1ae02" data-module-type-num="128" data-sections-amount="10"></section>
<section id="section-663088154a413" class="s123-module s123-module-content-page layout-1 bg-primary r-c-f-c"
  data-module-id="663088154a413" data-module-type-num="95">
  <div class="container-fluid page_header_style noBackground">
    <div class="row">
      <div class="container moduleTitleContainer">
        <div class="row modulesTitle text-center">
          <div class="col-xs-12">
            <div class="page-header-wrap">
              <H1 id="section-663088154a413-title" class="s123-page-header  ">XNU O'QITUVCHI VA TALABALARI UCHUN
              </H1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" data-aos="fade-up">
    <div class="responsive-handler fr-view breakable">
      <div class="s123-editor">
        <p><img src="https://static.s123-cdn-static-c.com/uploads/8437729/2000_66308822d94d5.png" style="width: 1035px;"
            class="fr-fic fr-dib"></p>
      </div>
    </div>
  </div>
</section>
<section id="section-66308c771ae99" class="s123-module s123-module-timeline" data-module-id="66308c771ae99"
  data-module-type-num="41">
  <div class="container-fluid page_header_style noBackground">
    <div class="row">
      <div class="container moduleTitleContainer">
        <div class="row modulesTitle text-center">
          <div class="col-xs-12">
            <div class="page-header-wrap">
              <H1 id="section-66308c771ae99-title" class="s123-page-header  ">MANZILLAR</H1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" data-aos="fade-up"><!-- Categories area -->
    <div class="row" style="display:none;">
      <div class="s123-categories col-xs-12">
        <ul class="items-categories-container" data-category-layouts="true">
          <li data-categories-filter="all"><a href="#">All</a></li>
        </ul>
      </div>
    </div><!-- Items area -->
    <div class="row timeline-category" data-categories-filter="all">
      <div class="cd-timeline cd-container">
        <div class="cd-timeline-block">
          <div class="cd-timeline-img text-primary btn-primary-text-color background-primary-color" style=";">
            <img class="s123-icon-converter"
              src="https://images.cdn-files-a.com/ready_uploads/svg/uzbekistan5f22b4066a662.svg?v=2" alt="&nbsp;">
          </div>
          <div
            class="cd-timeline-content box-primary box-text-primary s123-box-bottom-primary-border s123-box-padding preview-highlighter border-left-before"
            data-unique-id="66308c78d43e1">
            <h2>XALQARO NORDIK UNIVERSITETI</h2>
            <p>2025-yil 15-yanvardan 30-yanvargacha BIMMda</p><span class="cd-date">07/29/2024</span>
          </div>
        </div>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img text-primary btn-primary-text-color background-primary-color" style=";">
            <img class="s123-icon-converter"
              src="https://images.cdn-files-a.com/ready_uploads/svg/finland5f22b4683616b.svg?v=2" alt="&nbsp;">
          </div>
          <div
            class="cd-timeline-content box-primary box-text-primary s123-box-bottom-primary-border s123-box-padding preview-highlighter border-right-before"
            data-unique-id="66308c78d777d">
            <h2>FINLANDIYA (JVYASKYLA universiteti, Helsinki universiteti)</h2>
            <p>1 - fevraldan 15 - fevralgacha Finlandiya va Shvetsiya davlatlarida malaka oshirish kursi</p>
            <span class="cd-date">08/11/2024</span>
          </div>
        </div>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img text-primary btn-primary-text-color background-primary-color" style=";">
            <img class="s123-icon-converter"
              src="https://images.cdn-files-a.com/ready_uploads/svg/sweeden5f22b41320776.svg?v=2" alt="&nbsp;">
          </div>
          <div
            class="cd-timeline-content box-primary box-text-primary s123-box-bottom-primary-border s123-box-padding preview-highlighter border-left-before"
            data-unique-id="66308c78da93c">
            <h2>SHVETSIYA poytaxti STOKHOLM</h2>
            <p>SHVETSIYA poytaxti Stokholmdagi ta’lim muassasalari</p><span class="cd-date">08/15/2024</span>
          </div>
        </div>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img text-primary btn-primary-text-color background-primary-color" style=";">
            <img class="s123-icon-converter"
              src="https://images.cdn-files-a.com/ready_uploads/svg/turkey5f22b4093cb97.svg?v=2" alt="&nbsp;">
          </div>
          <div
            class="cd-timeline-content box-primary box-text-primary s123-box-bottom-primary-border s123-box-padding preview-highlighter border-right-before"
            data-unique-id="66308c78ddbce">
            <h2>TURKIYA ning ISTANBUL shahri</h2>
            <p>TURKIYAning Istanbul shahri</p><span class="cd-date">08/19/2024</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section-66308d901b054" class="s123-module s123-module-headers layout-9 bg-primary parallax-on"
  data-parallax-images-amount="1" data-module-id="66308d901b054" data-module-type-num="167" data-slider-speed="5"
  data-version="2"><!-- Manage Buttons --><!-- Container -->
  <div class="container-fluid"><!-- Top Adds --><!-- Container -->
    <div class="headers-container second-side hpm-height-50vh">
      <div class="headers-text-wrap  headers-text-resize-container">
        <div class="headers-text-orders-container ">
          <div class="headers-text-orders "><!-- Header 1 -->
            <div data-aos="fade-up">
              <div class="m-h-item header1 custom-font-settings weight700   header-modules-header-font"
                style="--header-font-size: 52;" data-old-bold="false" data-custom-font="" data-is-italic-supported=""
                data-line-height="">DASTUR MAQSADI:</div>
            </div>
            <div class="line headers-text-separator"></div><!-- Header 2 -->
            <div data-aos="fade-up">
              <div class="m-h-item header2 custom-font-settings   header-global-font" style="--header-font-size: 17;"
                data-custom-font="" data-is-italic-supported="" data-line-height="">
                <ul>
                  <li>Xalqaro Nordik Universiteti professor - o&lsquo;qituvchilari va talabalari uchun xorijiy
                    ta&rsquo;lim muassasalari bilan tanishish imkoniyati.</li>
                  <li>Amaliyot o&rsquo;tash va uzluksiz ta&rsquo;lim tizimi, o&rsquo;qitish metodikasi,
                    baholash, raqamlashtirish va mustaqil ta&rsquo;limini tashkil etish jarayonlari bilan
                    tanishadilar.</li>
                  <li>Ilmiy tadqiqot ishlarini tashkil etishni hamda hamkorlik aloqalarini yo&rsquo;lga
                    qo&rsquo;yish bo&rsquo;yicha tajriba almashish imkoniyati.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="header-spacer" data-text-exist="true" data-action-exist="false"></div>
          <!-- Call To Action -->
        </div>
      </div><!-- Images -->
      <div class="headers-img-wrap ">
        <div class="headers-carousel-deactivated carousel slide carousel-fade  ">
          <div class="carousel-inner"><!-- Carousel Slides / Quotes -->
            <div class="item active one-item">
              <div class="headers-item">
                <div data-idele="parallax_headers_mirror_66308d901b054" data-bleed="30"
                  data-image-src="https://images.cdn-files-a.com/uploads/8437729/2000_66308e2fa123e.jpg"
                  data-position="center center" data-background-position="center center"
                  class="headers-image parallax-window"
                  data-bg="{% static 'images/8437729/2000_66308e2fa123e.jpg' %}"
                  style="background-image:url({% static 'images/8437729/2000_66308e2fa123e.jpg' %}); background-position:center center;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Bottom Adds -->
  </div>
</section>
<section id="section-66308eb01b081" class="s123-module s123-module-headers layout-9 parallax-on"
  data-parallax-images-amount="1" data-module-id="66308eb01b081" data-module-type-num="167" data-slider-speed="5"
  data-version="2"><!-- Manage Buttons --><!-- Container -->
  <div class="container-fluid"><!-- Top Adds --><!-- Container -->
    <div class="headers-container  hpm-height-50vh">
      <div class="headers-text-wrap  headers-text-resize-container">
        <div class="headers-text-orders-container ">
          <div class="headers-text-orders "><!-- Header 1 -->
            <div data-aos="fade-up"></div>
            <div class="line headers-text-separator" style="display: none;"></div><!-- Header 2 -->
            <div data-aos="fade-up">
              <div class="m-h-item header2 custom-font-settings   header-global-font" style="--header-font-size: 20;"
                data-custom-font="" data-is-italic-supported="" data-line-height="">- Dastur asosan <strong>kundalik
                  o&#39;quv amaliyoti</strong> va
                <strong>uzluksiz ta&rsquo;lim tizimi </strong>muassasalari bilan tanishish, Finlyandiya
                ta&rsquo;lim tizimi haqida <strong>ma&#39;ruzalar</strong>, turli <strong>o&#39;quv
                  markazlari</strong> va <strong>maktablariga tashrif </strong>buyurish, amaliy pedagogik
                <strong>seminarlar</strong>dan iborat. <br><br>- Tashriflar davomida <strong>Finlyandiya
                  o&#39;qituvchilari, direktorlari</strong> va <strong>o&#39;quvchilari</strong> bilan
                suhbatlashish, ularning o&#39;qitish amaliyoti, usullari yoki kundalik ishlarida duch keladigan
                qiyinchiliklari haqida <strong>ma&rsquo;lumot olish mumkin.</strong>
              </div>
            </div>
          </div>
          <div class="header-spacer" data-text-exist="true" data-action-exist="false"></div>
          <!-- Call To Action -->
        </div>
      </div><!-- Images -->
      <div class="headers-img-wrap ">
        <div class="headers-carousel-deactivated carousel slide carousel-fade  ">
          <div class="carousel-inner"><!-- Carousel Slides / Quotes -->
            <div class="item active one-item">
              <div class="headers-item">
                <div data-idele="parallax_headers_mirror_66308eb01b081" data-bleed="30"
                  data-image-src="https://images.cdn-files-a.com/uploads/8437729/2000_66308ebd784d0.jpg"
                  data-position="center center" data-background-position="center center"
                  class="headers-image parallax-window"
                  data-bg="{% static 'images/8437729/2000_66308ebd784d0.jpg' %}"
                  style="background-image:url({% static 'images/8437729/2000_66308ebd784d0.jpg' %}); background-position:center center;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Bottom Adds -->
  </div>
</section>
<section id="section-663093ed1b0b2" class="s123-module s123-module-content-page layout-1 bg-primary"
  data-module-id="663093ed1b0b2" data-module-type-num="95">
  <div class="container-fluid page_header_style noBackground">
    <div class="row">
      <div class="container moduleTitleContainer">
        <div class="row modulesTitle text-center">
          <div class="col-xs-12">
            <div class="page-header-wrap">
              <H1 id="section-663093ed1b0b2-title" class="s123-page-header  ">DASTUR DAVOMIDA MASHG’ULOTLAR
                MAZMUNI</H1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" data-aos="fade-up">
    <div class="responsive-handler fr-view breakable">
      <div class="s123-editor">
        <div class="editorBox editorBox_img"><img
            src="{% static 'images/8437729/normal_6632163ae3938.png' %}" class="imageWidth100" alt=""
            data-ratio="1.7777777777777777"></div>
      </div>
    </div>
  </div>
</section>
<section id="section-6630959e1b0c3" class="s123-module s123-module-services layout-10  " data-module-id="6630959e1b0c3"
  data-module-type-num="3" data-device-type="computer" data-overlay-opacity="true">
  <div class="container-fluid page_header_style noBackground">
    <div class="row">
      <div class="container moduleTitleContainer">
        <div class="row modulesTitle text-center">
          <div class="col-xs-12">
            <div class="page-header-wrap">
              <H1 id="section-6630959e1b0c3-title" class="s123-page-header  ">DASTUR o'z ichiga oladi</H1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" data-aos="fade-up"><!-- Adds top ---><!-- Container --->
    <div class="text-center features-container"><!-- Categories area -->
      <div class="row" style="display:none;">
        <div class="s123-categories col-xs-12">
          <ul class="items-categories-container" data-category-layouts="true">
            <li data-categories-filter="all"><a href="#">All</a></li>
          </ul>
        </div>
      </div><!-- Items area -->
      <div class="text-center services-category" data-categories-filter="all">
        <div class="service-grid">
          <div class="service-item-wrap preview-highlighter " data-unique-id="663095a0c9f3b">
            <div class="service-item "><span class="fa-stack fa-4x bgLazyload" role="img"
                aria-label="MA’RUZALAR VA AMALIY MASHG’ULOTLAR"
                data-bg="{% static 'images/8437729/800_663095fc294d8.png' %}"></span>
              <div class="service-item-texts box box-primary">
                <h4 class="">MA’RUZALAR VA AMALIY MASHG’ULOTLAR</h4>
                <p class="service-item-description" data-title="MA’RUZALAR VA AMALIY MASHG’ULOTLAR">Xalqaro
                  Nordik universitetida 2 haftalik xorijiy professorlar va xalqaro universitet o’qituvchilari
                  rahbarligida ma’ruzalar va amaliy mashg’ulotlar</p>
              </div>
            </div>
          </div>
          <div class="service-item-wrap preview-highlighter " data-unique-id="663095a0cd01c">
            <div class="service-item reverse-item"><span class="fa-stack fa-4x bgLazyload" role="img"
                aria-label="FINLANDIYANING BARCHA TA'LIM MUASSASALARIGA TASHRIFLAR"
                data-bg="{% static 'images/8437729/800_663096bff3b57.png' %}"></span>
              <div class="service-item-texts box box-primary">
                <h4 class="">FINLANDIYANING BARCHA TA'LIM MUASSASALARIGA TASHRIFLAR</h4>
                <p class="service-item-description" data-title="FINLANDIYANING BARCHA TA'LIM MUASSASALARIGA TASHRIFLAR">
                  Kareliya amaliy fanlar
                  Universiteti vakillari kutib olish va kuzatishda va vizitlarda doimiy hamrohlik qiladi.
                  Barcha ta’lim (maktabgacha, umumiy o’rta va oliy ta’lim) muassasalarida taqdimotlar va
                  tashriflar.</p>
              </div>
            </div>
          </div>
          <div class="service-item-wrap preview-highlighter " data-unique-id="663095a0cfc90">
            <div class="service-item "><span class="fa-stack fa-4x bgLazyload" role="img"
                aria-label="MA’RUZALAR, AMALIYOT VA MASTER KLASSLAR"
                data-bg="{% static 'images/8437729/800_66309786f1b2a.jpg' %}"></span>
              <div class="service-item-texts box box-primary">
                <h4 class="">MA’RUZALAR, AMALIYOT VA MASTER KLASSLAR</h4>
                <p class="service-item-description" data-title="MA’RUZALAR, AMALIYOT VA MASTER KLASSLAR">PEDAGOG
                  OLIMLAR VA BARCHA EKSPERTLAR MA’RUZALARI, AMALIYOT VA MASTER KLASSLARI</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section-663097d21b0d4" class="s123-module s123-module-services layout-11 bg-primary   "
  data-module-id="663097d21b0d4" data-module-type-num="3" data-mobile-view-type="1" data-overlay-opacity="true">
  <div class="container-fluid page_header_style noBackground">
    <div class="row">
      <div class="container moduleTitleContainer">
        <div class="row modulesTitle text-center">
          <div class="col-xs-12">
            <div class="page-header-wrap">
              <H1 id="section-663097d21b0d4-title" class="s123-page-header  ">BIZDAN SIZGA YORDAM SIFATIDA</H1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container services-container" data-aos="fade-up">
      <div class="row" style="display:none;">
        <div class="s123-categories col-xs-12">
          <ul class="items-categories-container" data-category-layouts="true">
            <li data-categories-filter="all"><a href="#">All</a></li>
          </ul>
        </div>
      </div><!-- Items area -->
      <div class="text-center services-category" data-categories-filter="all">
        <div class="service-grid ">
          <div class="service-item-wrap s123-box-bottom-primary-border-hover preview-highlighter"
            data-unique-id="663097d431ae9">
            <div class="service-item box-primary"><span class="fa-stack fa-4x"><i
                  class="svg-m s123-icon-converter primary-color" data-icon-name="bus-front-125f22b3a7e21ca"
                  style=" mask: url('https://images.cdn-files-a.com/ready_uploads/svg/bus-front-125f22b3a7e21ca.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/bus-front-125f22b3a7e21ca.svg?v=2');"
                  data-ie11-classes="primary-color"
                  alt="site123-image-icon system-svg-icons  bus-front-125f22b3a7e21ca">&nbsp;</i></span>
              <div class="service-details">
                <h4>Helsinkidan Joensuga borish va qaytish, ta’lim muassasalariga tashrif buyurish uchun
                  transport</h4>
              </div>
            </div>
          </div>
          <div class="service-item-wrap s123-box-bottom-primary-border-hover preview-highlighter"
            data-unique-id="663097d42ed1f">
            <div class="service-item box-primary"><span class="fa-stack fa-4x"><i
                  class="svg-m s123-icon-converter primary-color" data-icon-name="cc-visa"
                  style=" mask: url('https://images.cdn-files-a.com/ready_uploads/svg/cc-visa.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/cc-visa.svg?v=2');"
                  data-ie11-classes="primary-color" alt="site123-image-icon system-svg-icons  cc-visa">&nbsp;</i></span>
              <div class="service-details">
                <h4>Shengen viza olishga yordam (taklif xati va boshqa hujjatlar).</h4>
              </div>
            </div>
          </div>
          <div class="service-item-wrap s123-box-bottom-primary-border-hover preview-highlighter"
            data-unique-id="663097d42c0fa">
            <div class="service-item box-primary"><span class="fa-stack fa-4x"><i
                  class="svg-m s123-icon-converter primary-color" data-icon-name="certificate5f22b3b7811ad"
                  style=" mask: url('https://images.cdn-files-a.com/ready_uploads/svg/certificate5f22b3b7811ad.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/certificate5f22b3b7811ad.svg?v=2');"
                  data-ie11-classes="primary-color"
                  alt="site123-image-icon system-svg-icons  certificate5f22b3b7811ad">&nbsp;</i></span>
              <div class="service-details">
                <h4>Stajirovka o’talganligi haqida maxsus Sertifikat.</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section-663099ba1b179" class="s123-module s123-module-content-page layout-1" data-module-id="663099ba1b179"
  data-module-type-num="95">
  <div class="container-fluid page_header_style noBackground">
    <div class="row">
      <div class="container moduleTitleContainer">
        <div class="row modulesTitle text-center">
          <div class="col-xs-12">
            <div class="page-header-wrap">
              <H1 id="section-663099ba1b179-title" class="s123-page-header  ">DASTUR XARAJATLARI</H1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" data-aos="fade-up">
    <div class="responsive-handler fr-view breakable">
      <div class="s123-editor">
        <p><img src="{% static 'images/8437729/2000_663099c81f231.png' %}" style="width: 1046px;"
            class="fr-fic fr-dib"></p>
        <p style="text-align: justify;"><strong>Izoh:</strong> 10 kunlik nonushtalar mehmonxona yoki hostel
          xarajatlari ichiga kiritilgan.&nbsp;</p>
        <p style="text-align: justify;">Barcha qilingan xarajatlar uchun kvitansiyalar olinadi. Bu narxlar
          taxminiy tarzda qilingan. Narxlarda va xarajatlarda oʻzgarishlar boʻlishi mumkin.</p>
      </div>
    </div>
  </div>
</section>
<section id="section-66309a0d1b182" class="s123-module s123-module-numbers-features layout-2 bg-primary"
  data-module-id="66309a0d1b182" data-module-type-num="138">
  <div class="container-fluid page_header_style noBackground">
    <div class="row">
      <div class="container moduleTitleContainer">
        <div class="row modulesTitle text-center">
          <div class="col-xs-12">
            <div class="page-header-wrap">
              <H1 id="section-66309a0d1b182-title" class="s123-page-header  ">NORDIC TRAINING MAXSUS
                PROFESSOR-O’QITUVCHILAR VA TALABALAR UCHUN STAJIROVKA DASTURI NATIJALARI</H1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center features-container">
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="66309a0f6cfb2"><span
            class="feature-item-number">1</span>
          <div class="feature-text-container">
            <h4><strong>#1</strong></h4>
            <p class="new-line-break">Finlandiya, Shvesiya va Turkiya davlatlarida ta’lim tizimni o‘rganish
              hamda sayoxat qilish.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="66309a0f705d6"><span
            class="feature-item-number">2</span>
          <div class="feature-text-container">
            <h4><strong>#2</strong></h4>
            <p class="new-line-break">Pedagogik texnologiya va mahorat bo’yicha yangi ma’lumotlar olish,
              g‘oyalar yaratish, innovatsiyalar, ijodkorlikni rivojlantirish uchun amaliy o‘quv tadqiqot va
              tadbirkorlik muhitini yaratish.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="66309a0f73b8b"><span
            class="feature-item-number">3</span>
          <div class="feature-text-container">
            <h4><strong>#3</strong></h4>
            <p class="new-line-break">Xalqaro ekspertlar va xorijiy mamlakatlarning salohiyatli
              professor-o’qituvchilari mashg‘ulotlarida sifatli va adolatli ta’lim olish va ta’lim
              tashkilotlariga vizitlar.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="66309a0f76909"><span
            class="feature-item-number">4</span>
          <div class="feature-text-container">
            <h4><strong>#4</strong></h4>
            <p class="new-line-break">Kasbiy kamolotga erishish yo‘llari va usullarini egallash hamda xorijiy
              tajriba egalari guruhiga qo‘shilish</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="66309a0f7abd5"><span
            class="feature-item-number">5</span>
          <div class="feature-text-container">
            <h4><strong>#5</strong></h4>
            <p class="new-line-break">Maxsus kurs sertifikati. Ushbu sertifikat professor-o’qituvchilarga
              xorijiy malaka oshirish sertikati sifatida, magistrlarga 4 semestrdagi amaliyotni xorijda
              o’tkazilganlik sertifikati sifatida va talabalarga xorijiy davlatda stajirovka sertifikati va
              amaliyot o’talganlik darajalarini beradi.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="66309a8de7b1b"><span
            class="feature-item-number">6</span>
          <div class="feature-text-container">
            <h4><strong>#6</strong></h4>
            <p class="new-line-break">Xamkorlikda maqola va o‘quv uslubiy qo‘llanmalar tayyorlash.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="66309a97d7f15"><span
            class="feature-item-number">7</span>
          <div class="feature-text-container">
            <h4><strong>#7</strong></h4>
            <p class="new-line-break">Xorijiy ta’lim muassasalarida dars tinglash imkoniyati va OTM reytinggini
              ko‘tarishga yordam berish.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="66309aa12dbbc"><span
            class="feature-item-number">8</span>
          <div class="feature-text-container">
            <h4><strong>#8</strong></h4>
            <p class="new-line-break">Xorijiy hamkorlar topish va aloqalarni kengaytirish imkoniyati.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="66309aad663f5"><span
            class="feature-item-number">9</span>
          <div class="feature-text-container">
            <h4><strong>#9</strong></h4>
            <p class="new-line-break">Ilmiy tadqiqot ishlari uchun yangi materiallar to‘plash va xamkorlikda
              bajarish. Ilmiy loyihalar tayyorlash.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="66309ab730c36"><span
            class="feature-item-number">10</span>
          <div class="feature-text-container">
            <h4><strong>#10</strong></h4>
            <p class="new-line-break">Olingan tajriba va ko‘nikmalarni xorijda va kasbiy faoliyatda namoyon
              qilish uchun “Xalqaro pedagogika fanlari akademiyasi”ga a’zo bo‘lish imkoniyati.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section-66309b331b19b"
  class="s123-module s123-module-headers layout-30 bg-half-opacity headers-fix-mobile-height  parallax-on"
  data-parallax-images-amount="1" data-module-id="66309b331b19b" data-module-type-num="167" data-slider-speed="5"
  data-version="2"><!-- Manage Buttons --><!-- Container -->
  <div class="container-fluid"><!-- Top Adds --><!-- Container -->
    <div class="headers-container second-side hpm-height-75vh">
      <div class="headers-text-wrap container">
        <div class="row ">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 headers-text-resize-container">
            <div class="headers-text-posiosition">
              <div class="headers-text-orders  header-text-shadow"><!-- Header 1 -->
                <div data-aos="fade-up">
                  <div class="m-h-item header1 custom-font-settings weight700   header-modules-header-font"
                    style="--header-font-size: 49;" data-old-bold="false" data-custom-font=""
                    data-is-italic-supported="" data-line-height="">RO&#39;YXATDAN&nbsp;HOZIROQ O&#39;TING!
                  </div>
                </div>
                <div class="header-spacer headers-text-separator"></div><!-- Header 2 -->
                <div data-aos="fade-up">
                  <div class="m-h-item header2 custom-font-settings   header-modules-header-font"
                    style="--header-font-size: 19;" data-custom-font="" data-is-italic-supported="" data-line-height="">
                    YEVROPA BO&#39;YLAB BIZ BILAN SAYOHAT QILING!</div>
                </div>
              </div><!-- Container -->
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="header-spacer" data-text-exist="true" data-action-exist="false"></div>
                    <!-- Call To Action -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7">
            <div
              class="headers-form-wrap preview-highlighter box-primary box-text-primary header-box-shadow box-border-style-1"
              data-open-tool="contactBox">
              <form class="breakable contactUsForm  custom-form s123-custom-form-multi-steps"
                data-thanks-msg="So'rovingiz yuborildi! Sizga aloqaga chiqishlarini kuting." data-date-format="m/d/Y"
                data-click-action="thankYouMessage">
                <div>
                  <div class="text-left">
                    <div class="custom-form-steps" data-total-steps="1">
                      <div class="custom-form-step step-1" data-step="1">
                        <div class="row">
                          <div class="col-xs-12 c-f-field-type" data-field-type="text">
                            <div class="form-group"><label for="text-66309b41161fb">F.I.Sh</label><span>*</span><input
                                type="text" name="text-66309b41161fb" placeholder="F.I.Sh" class="form-control" required
                                data-msg-required="Это поле является обязательным."></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 c-f-field-type" data-field-type="select">
                            <div class="form-group"><label for="select-1714461874971">Jins</label><span>*</span><select
                                name="select-1714461874971" class="form-control">
                                <option class="c-f-field-title" disabled selected>Jins</option>
                                <option value="Erkak">Erkak</option>
                                <option value="Ayol">Ayol</option>
                              </select></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 c-f-field-type" data-field-type="number">
                            <div class="form-group"><label
                                for="number-1714461913929">Yoshingiz</label><span>*</span><input type="number"
                                name="number-1714461913929" class="form-control" placeholder="Yoshingiz" min="18"
                                max="60" required data-msg-required="Это поле является обязательным.">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 c-f-field-type" data-field-type="email">
                            <div class="form-group"><label for="email-66309b4116207">Email
                                pochta</label><span>*</span><input type="email" name="email-66309b4116207"
                                placeholder="Email pochta" class="form-control" required
                                data-msg-required="Это поле является обязательным."></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 c-f-field-type" data-field-type="text">
                            <div class="form-group"><label for="text-66309b4116201">Telefon raqam
                                (+998)</label><span>*</span><input type="text" name="text-66309b4116201"
                                placeholder="Telefon raqam (+998)" class="form-control" required
                                data-msg-required="Это поле является обязательным."></div>
                          </div>
                        </div>
                      </div><button type="submit" class="btn btn-primary btn-block submit-single-step-btn"
                        aria-label="Yuborish">Yuborish</button>
                    </div>
                  </div>
                </div><input type="hidden" name="w" value=""><input type="hidden" name="websiteID"
                  value="8437729"><input type="hidden" name="moduleID" value="66309b331b19b"><input type="hidden"
                  name="layout" value="30"><input type="hidden" name="recaptchaToken" value="">
              </form>
            </div>
          </div>
        </div>
      </div><!-- Images -->
      <div class="headers-img-wrap" style="--header-image-opacity:0.15;">
        <div class="headers-carousel-deactivated carousel slide carousel-fade  ">
          <div class="carousel-inner"><!-- Carousel Slides / Quotes -->
            <div class="item active one-item">
              <div class="headers-item">
                <div data-idele="parallax_headers_mirror_66309b331b19b" data-bleed="30"
                  data-image-src="https://images.cdn-files-a.com/uploads/8437729/2000_66309c3257dbf.jpg"
                  data-position="center center" data-background-position="center center" data-parallax="scroll"
                  data-backgroundcolor="#000000" data-opacity="0.85" class="headers-image parallax-window"
                  data-bg="{% static 'images/8437729/2000_66309c3257dbf.jpg' %}"
                  style="background-image:url({% static 'images/8437729/2000_66309c3257dbf.jpg' %}); background-position:center center;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Bottom Adds -->
  </div>
</section>
{% endblock %}