{% extends "layouts/main.html" %}
{% block html_class %}inside_page inside_page_header_design{% endblock %}
{% block content %}
<section id="section-64e4cb18191d3" class="s123-module s123-module-team layout-3  bg-primary  "
  data-module-id="64e4cb18191d3" data-module-type-num="4" data-overlay-opacity="true">
  <div class="container-fluid page_header_style noBackground">
    <div class="row">
      <div class="container moduleTitleContainer">
        <div class="row modulesTitle text-center">
          <div class="col-xs-12">
            <div class="page-header-wrap">
              <H1 id="section-64e4cb18191d3-title" class="s123-page-header  ">RAHBARIYAT VA XODIMLAR</H1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" data-aos="fade-up"><!-- Categories area -->
    <div class="row" style="display:none;">
      <div class="s123-categories col-xs-12">
        <ul class="items-categories-container" data-category-layouts="true">
          <li data-categories-filter="all"><a href="#">All</a></li>
        </ul>
      </div>
    </div><!-- Items area -->
    <div class="team-category" data-categories-filter="all">
      <div class="row preview-highlighter " data-unique-id="64e4cb1944fc9">
        <div class="team-image-container team-height col-xs-12 col-sm-6 ">
          <div class="team-bg-image bgLazyload"
            data-bg="https://images.cdn-files-a.com/uploads/8437729/2000_6586a7b75a5de.jpg" role="img"
            aria-label="Qo‘ysinov Odil Almuratovich" style="background-position:47.03% 15.41%;"></div>
        </div>
        <div class="team-info-container team-height col-sm-6  col-xs-12">
          <div class="team-info transform-centering">
            <div>
              <h3>Qo‘ysinov Odil Almuratovich</h3>
              <hr class="hr-design primary-color">
              <div class="team-layout-gap">
                <p class="employee-title">Markaz direktori</p>
                <p class="profile-content">Qo‘ysinov Odil Almuratovich - Ilmiy ishlar va innovatsiyalar bo‘yicha
                  prorektor. O'zining strategik qarashlari va tadqiqot va ishlanmalar sohasidagi ilg'or
                  bilimlari bilan u Nordic Training da ilmiy tashabbuslarni ilgari surish va innovatsion
                  yondashuvlarni o'rnatishda muhim rol o'ynaydi. Uning yetakchilik qobiliyati va ko'p tarmoqli
                  muhitda ishlash qobiliyati kompaniyaning o'sishi va akademik ta'sirining kengayishiga yordam
                  beradi.</p>
                <div class="social-icons">
                  <ul class="list-inline">
                    <li><a href="mailto:odilkuysinov1979@gmail.com" target="_blank"><i
                          class="svg-m s123-icon-converter  fa-2x" data-icon-name="envelope-o"
                          style=" mask: url('https://images.cdn-files-a.com/ready_uploads/svg/envelope-o.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/envelope-o.svg?v=2');"
                          data-ie11-classes=" fa-2x" alt="envelope-o">&nbsp;</i></a></li>
                    <li><a href="https://www.facebook.com/odil.kuysinov" target="_blank"><i
                          class="svg-m s123-icon-converter  fa-2x" data-icon-name="facebook"
                          style=" mask: url('https://images.cdn-files-a.com/ready_uploads/svg/facebook.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/facebook.svg?v=2');"
                          data-ie11-classes=" fa-2x" alt="facebook">&nbsp;</i></a></li>
                    <li><a href="https://www.linkedin.com/in/odil-kuysinov-449333b0/" target="_blank"><i
                          class="svg-m s123-icon-converter  fa-2x" data-icon-name="linkedin"
                          style=" mask: url('https://images.cdn-files-a.com/ready_uploads/svg/linkedin.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/linkedin.svg?v=2');"
                          data-ie11-classes=" fa-2x" alt="linkedin">&nbsp;</i></a></li>
                    <li><a href="https://www.instagram.com/odilalmurotovich/" target="_blank"><i
                          class="svg-m s123-icon-converter  fa-2x" data-icon-name="instagram"
                          style=" mask: url('https://images.cdn-files-a.com/ready_uploads/svg/instagram.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/instagram.svg?v=2');"
                          data-ie11-classes=" fa-2x" alt="instagram ">&nbsp;</i></a></li>
                    <li class="team-phone"><a class="team-phone-btn" href="#" onclick="return false;"><i
                          class="svg-m s123-icon-converter  fa-2x" data-icon-name="phone"
                          style=" mask: url('https://images.cdn-files-a.com/ready_uploads/svg/phone.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/phone.svg?v=2');"
                          data-ie11-classes=" fa-2x" alt="phone">&nbsp;</i></a>
                      <div class="team-phone-popover" style="display:none;">
                        <div class="team_phone_icons"><a href="tel:+998909611415"><i class="svg-m s123-icon-converter "
                              data-icon-name="phone"
                              style=" mask: url('https://images.cdn-files-a.com/ready_uploads/svg/phone.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/phone.svg?v=2');"
                              data-ie11-classes="" alt="phone">&nbsp;</i> <span dir="ltr">+998909611415</span></a></div>
                      </div>
                    </li>
                    <li class="team-phone"><a class="team-phone-btn" href="#" onclick="return false;"><i
                          class="svg-m s123-icon-converter  fa-2x" data-icon-name="telegram"
                          style=" mask: url('https://images.cdn-files-a.com/ready_uploads/svg/telegram.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/telegram.svg?v=2');"
                          data-ie11-classes=" fa-2x" alt="telegram">&nbsp;</i></a>
                      <div class="team-phone-popover" style="display:none;">
                        <div class="team_phone_icons"><a href="https://t.me/odilalmurotovich" target="_blank"><i
                              class="svg-m s123-icon-converter " data-icon-name="telegram"
                              style=" mask: url('https://images.cdn-files-a.com/ready_uploads/svg/telegram.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/telegram.svg?v=2');"
                              data-ie11-classes="" alt="telegram">&nbsp;</i> <span dir="ltr">odilalmurotovich</span></a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row preview-highlighter p-h-e-bottom-70" data-unique-id="6596572ab4ad5">
        <div class="team-image-container team-height col-xs-12 col-sm-6 col-sm-push-6">
          <div class="team-bg-image bgLazyload"
            data-bg="https://images.cdn-files-a.com/uploads/8437729/2000_6596579d9921f.jpg" role="img"
            aria-label="Topilov Hasan Jamoliddinovich" style="background-position:44.86% 14.32%;"></div>
        </div>
        <div class="team-info-container team-height col-sm-6 col-sm-pull-6 col-xs-12">
          <div class="team-info transform-centering">
            <div>
              <h3>Topilov Hasan Jamoliddinovich</h3>
              <hr class="hr-design primary-color">
              <div class="team-layout-gap">
                <p class="employee-title">IT-mutaxassis</p>
                <p class="profile-content">Topilov Hasan Jamoliddinovich - jamoamizning yetakchi IT mutaxassisi
                  bo‘lib, veb-saytimiz infratuzilmasini yaratish va qo‘llab-quvvatlashda muhim ro'l o‘ynaydi.
                  Uning texnik mahorati va zamonaviy texnologiyalarni chuqur bilishi bizning onlayn
                  xizmatlarimizning uzluksiz ishlashini ta'minlash uchun asos hisoblanadi.</p>
                <div class="social-icons">
                  <ul class="list-inline">
                    <li><a href="mailto:mr.answer14@mail.ru" target="_blank"><i class="svg-m s123-icon-converter  fa-2x"
                          data-icon-name="envelope-o"
                          style=" mask: url('https://images.cdn-files-a.com/ready_uploads/svg/envelope-o.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/envelope-o.svg?v=2');"
                          data-ie11-classes=" fa-2x" alt="envelope-o">&nbsp;</i></a></li>
                    <li><a href="https://www.facebook.com/Topiloff.uz/" target="_blank"><i
                          class="svg-m s123-icon-converter  fa-2x" data-icon-name="facebook"
                          style=" mask: url('https://images.cdn-files-a.com/ready_uploads/svg/facebook.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/facebook.svg?v=2');"
                          data-ie11-classes=" fa-2x" alt="facebook">&nbsp;</i></a></li>
                    <li><a href="https://www.linkedin.com/in/khasan-topiloff-25564115a/" target="_blank"><i
                          class="svg-m s123-icon-converter  fa-2x" data-icon-name="linkedin"
                          style=" mask: url('https://images.cdn-files-a.com/ready_uploads/svg/linkedin.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/linkedin.svg?v=2');"
                          data-ie11-classes=" fa-2x" alt="linkedin">&nbsp;</i></a></li>
                    <li><a href="https://www.pinterest.com/topiloff/" target="_blank"><i
                          class="svg-m s123-icon-converter  fa-2x" data-icon-name="pinterest"
                          style=" mask: url('https://images.cdn-files-a.com/ready_uploads/svg/pinterest.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/pinterest.svg?v=2');"
                          data-ie11-classes=" fa-2x" alt="pinterest">&nbsp;</i></a></li>
                    <li><a href="https://orcid.org/my-orcid?orcid=0009-0001-4641-6963" target="_blank"><i
                          class="svg-m s123-icon-converter  fa-2x" data-icon-name="webpage5f22b31fe5113"
                          style=" mask: url('https://images.cdn-files-a.com/ready_uploads/svg/webpage5f22b31fe5113.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/webpage5f22b31fe5113.svg?v=2');"
                          data-ie11-classes=" fa-2x" alt="webpage5f22b31fe5113">&nbsp;</i></a></li>
                    <li><a href="https://www.instagram.com/topiloff/" target="_blank"><i
                          class="svg-m s123-icon-converter  fa-2x" data-icon-name="instagram"
                          style=" mask: url('https://images.cdn-files-a.com/ready_uploads/svg/instagram.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/instagram.svg?v=2');"
                          data-ie11-classes=" fa-2x" alt="instagram ">&nbsp;</i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCAC2Hs7VWjmEPYZ_RZ9mSiQ" target="_blank"><i
                          class="svg-m s123-icon-converter  fa-2x" data-icon-name="youtube"
                          style=" mask: url('https://images.cdn-files-a.com/ready_uploads/svg/youtube.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/youtube.svg?v=2');"
                          data-ie11-classes=" fa-2x" alt="youtube">&nbsp;</i></a></li>
                  </ul>
                </div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}