{% extends "layouts/main.html" %} {% load static %} {% block html_class %}rich_page home_page inside_page_header_design{% endblock %} {% block content %}
<section id="section-64e4ccc819519" class="s123-module s123-module-rich-page layout-1 bg-primary" data-module-id="64e4ccc819519" data-module-type-num="128" data-sections-amount="8"></section>
<section id="section-64e4cc4f19449" class="s123-module s123-module-content-page layout-1 bg-primary r-c-f-c" data-module-id="64e4cc4f19449" data-module-type-num="95">
  <div class="container-fluid page_header_style noBackground">
    <div class="row">
      <div class="container moduleTitleContainer">
        <div class="row modulesTitle text-center">
          <div class="col-xs-12">
            <div class="page-header-wrap">
              <h1 id="section-64e4cc4f19449-title" class="s123-page-header">O'qituvchi-ustozlar uchun</h1>
              <hr class="small" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" data-aos="fade-up">
    <div class="responsive-handler fr-view breakable">
      <div class="s123-editor">
        <blockquote>
          <h3 style="text-align: justify">
            <span style="color: rgb(0, 0, 0)">&nbsp; Malaka oshirish kursi <strong>1 oylik 144 soatlik</strong> hajmda tashkil etiladi.&nbsp;</span>
          </h3>
        </blockquote>
        <hr />
        <p>
          <span style="color: rgb(0, 0, 0)"
            ><strong>2 hafta yaʼni 72 soat</strong> miqdorda <strong>Oliy ta’lim tizimi kadrlarini qayta tayyorlash va malakasini oshirish instituti</strong><strong>&nbsp;</strong>va
            <strong>2 hafta yaʼni 72 soat</strong> miqdorida <strong>Finlandiyaning Yuvaskula</strong> va <strong>Xelsinki</strong> universitetlarida hamda <strong>Shvetsiya</strong> va
            <strong>Turkiya</strong> davlatlarida tashkil etiladi.</span
          >
        </p>
        <hr />
        <h4>
          Oʼqish muddati
          <strong
            >15-yanvardan 30-yanvargacha <span style="color: rgb(0, 0, 0)" id="isPasted"><strong>Oliy ta’lim tizimi kadrlarini qayta tayyorlash va malakasini oshirish instituti</strong></span
            >da</strong
          >
        </h4>
        <h4><strong>1 - fevraldan 15 - fevralgacha Finlandiya va Shvetsiya&nbsp;</strong>davlatlarida tashkil etiladi.</h4>
        <hr />
        <p><br /></p>
        <div class="editorBox editorBox_img"><img src="{% static "images/8437729/normal_673af3ada9249.jpg" %}" class="fr-fic fr-dii imageWidth75" alt="" data-ratio="1"></div>
        <div class="editorBox editorBox_img">
          <img src="../static.s123-cdn-static-c.com/uploads/8437729/normal_65f2f19fb5cb1_filter_65f2f1e5aabfe.jpg" class="fr-fic fr-dii imageWidth75" alt="" data-ratio="2.0408163265306123" />
        </div>
        <div class="editorBox editorBox_img"><img src="{% static "images/8437729/normal_673af36a496ab.jpg" %}" class="fr-fic fr-dii imageWidth75" alt="" data-ratio="1.331945889698231"></div>
        <p style="text-align: justify"><br /></p>
      </div>
    </div>
  </div>
</section>
<section
  id="section-6516832439fff"
  class="s123-module s123-module-headers layout-27 second-side parallax-on"
  data-parallax-images-amount="1"
  data-module-id="6516832439fff"
  data-module-type-num="167"
  data-slider-speed="5"
  data-version="2"
>
  <!-- Manage Buttons --><!-- Container -->
  <div class="container-fluid">
    <!-- Top Adds --><!-- Container -->
    <div class="headers-container hpm-height-30vh">
      <div class="headers-text-wrap bg-primary-gray">
        <div class="">
          <div class="headers-text-orders headers-text-resize-container">
            <!-- Header 1 -->
            <div data-aos="fade-up">
              <div
                class="m-h-item header1 custom-font-settings weight700 header-modules-header-font"
                style="--header-font-size: 49"
                data-old-bold="false"
                data-custom-font=""
                data-is-italic-supported=""
                data-line-height=""
              >
                HOZIROQ BIZGA QO&#39;SHILING
              </div>
            </div>
            <div class="line headers-text-separator"></div>
            <!-- Header 2 -->
            <div data-aos="fade-up">
              <div class="m-h-item header2 custom-font-settings header-modules-header-font" style="--header-font-size: 19" data-custom-font="" data-is-italic-supported="" data-line-height="">
                IMKONIYATNI QO&#39;LDAN BOY BERMANG!
              </div>
            </div>
          </div>
          <!-- Container -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <div class="header-spacer" data-text-exist="true" data-action-exist="true"></div>
                <!-- Call To Action -->
                <div class="s123-c-t-a" data-type="buttons" data-buttons-amount="1">
                  <div id="6516832439fff-cta" data-aos="fade-up" class="redirect-buttons-container">
                    <a
                      onclick="ScrollToModule('6516832439fff','65ec24621e27b');"
                      class="s123-action-btn btn btn-primary btn-primary-automatic-recommended btn-xl 3d preview-highlighter"
                      data-open-tool="callToActionBox"
                      data-button-num="0"
                    >
                      <div class="a-b-container">
                        <div class="a-b-t">Ro‘yxatdan o‘tish</div>
                      </div></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Images -->
      <div class="headers-img-wrap bg-primary-gray">
        <div class="headers-carousel-deactivated carousel slide carousel-fade">
          <div class="carousel-inner">
            <!-- Carousel Slides / Quotes -->
            <div class="item active one-item">
              <div class="headers-item">
                <div
                  data-idele="parallax_headers_mirror_6516832439fff"
                  data-bleed="30"
                  data-image-src="https://images.cdn-files-a.com/uploads/8437729/2000_65f44286c19f4.png"
                  data-position="center center"
                  data-background-position="center center"
                  class="headers-image parallax-window"
                  data-bg="{% static 'images/8437729/2000_65f44286c19f4.png' %}"
                  style="background-image: url({% static 'images/8437729/2000_65f44286c19f4.png' %}); background-position: center center"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bottom Adds -->
  </div>
</section>
<section id="section-65ec0e6af0b0b" class="s123-module s123-module-numbers-features layout-2 bg-primary" data-module-id="65ec0e6af0b0b" data-module-type-num="138">
  <div class="container-fluid page_header_style noBackground">
    <div class="row">
      <div class="container moduleTitleContainer">
        <div class="row modulesTitle text-center">
          <div class="col-xs-12">
            <div class="page-header-wrap">
              <h1 id="section-65ec0e6af0b0b-title" class="s123-page-header">Amaliyot dasturi</h1>
              <hr class="small" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- Adds top ---><!-- Container --->
    <div class="row text-center features-container">
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="65ec0e6adff6e">
          <span class="feature-item-number">1</span>
          <div class="feature-text-container">
            <h4><strong>Finlandiya ta’lim tizimida o‘quv maqsadlari;</strong></h4>
            <p class="new-line-break"></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="65ec0e6ae14d3">
          <span class="feature-item-number">2</span>
          <div class="feature-text-container">
            <h4><strong>Pedagogik jarayonni tashkil etish mexanizmlari;</strong></h4>
            <p class="new-line-break"></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="65ec0e6ae290b">
          <span class="feature-item-number">3</span>
          <div class="feature-text-container">
            <h4><strong>Ta’limda natijalarni baholash tizimi;</strong></h4>
            <p class="new-line-break"></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="65ec0e6ae4142">
          <span class="feature-item-number">4</span>
          <div class="feature-text-container">
            <h4><strong>Uzluksiz ta’limda o‘quv me’yoriy hujjatlar;</strong></h4>
            <p class="new-line-break"></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="65ec0e6ae5845">
          <span class="feature-item-number">5</span>
          <div class="feature-text-container">
            <h4><strong>Ta’lim standartlari va malaka talablari;</strong></h4>
            <p class="new-line-break"></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="65ec0edc96095">
          <span class="feature-item-number">6</span>
          <div class="feature-text-container">
            <h4><strong>O‘quv reja, fan dasturlari va metodik manbalar yaratish;</strong></h4>
            <p class="new-line-break"></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="65ec0ee13762b">
          <span class="feature-item-number">7</span>
          <div class="feature-text-container">
            <h4><strong>Uzluksiz ta’limda uzviylik;</strong></h4>
            <p class="new-line-break"></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="65ec0ee7860e7">
          <span class="feature-item-number">8</span>
          <div class="feature-text-container">
            <h4><strong>Kredit modul tizimi va mustaqil ta’lim;</strong></h4>
            <p class="new-line-break"></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="65ec0eec1c5bd">
          <span class="feature-item-number">9</span>
          <div class="feature-text-container">
            <h4><strong>Ta’limda raqamlashtirish va AT;</strong></h4>
            <p class="new-line-break"></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="65ec0ef040f74">
          <span class="feature-item-number">10</span>
          <div class="feature-text-container">
            <h4><strong>O‘qitish metodikasi va interaktiv metodlarni qo‘llash;</strong></h4>
            <p class="new-line-break"></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="65ec0ef822e66">
          <span class="feature-item-number">11</span>
          <div class="feature-text-container">
            <h4><strong>Uzluksiz ta’lim muassasalarida amaliy tashriflar va workshoplar;</strong></h4>
            <p class="new-line-break"></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 s123-col-centered">
        <div class="feature-item preview-highlighter" data-unique-id="65ec0eff12632">
          <span class="feature-item-number">12</span>
          <div class="feature-text-container">
            <h4><strong>Xorijiy tajribalar va xamkorlik qilish.</strong></h4>
            <p class="new-line-break"></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Adds bottom --->
  </div>
</section>
<section id="section-65ec0b9cf07a2" class="s123-module s123-module-services layout-11" data-module-id="65ec0b9cf07a2" data-module-type-num="3" data-mobile-view-type="1" data-overlay-opacity="true">
  <div class="container-fluid page_header_style noBackground">
    <div class="row">
      <div class="container moduleTitleContainer">
        <div class="row modulesTitle text-center">
          <div class="col-xs-12">
            <div class="page-header-wrap">
              <h1 id="section-65ec0b9cf07a2-title" class="s123-page-header">Ushbu stajirovka davomida :</h1>
              <hr class="small" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container services-container" data-aos="fade-up">
    <!-- Adds top ---><!-- Container --->
    <div class="text-center features-container">
      <!-- Categories area -->
      <div class="row" style="display: none">
        <div class="s123-categories col-xs-12">
          <ul class="items-categories-container" data-category-layouts="true">
            <li data-categories-filter="all"><a href="#">All</a></li>
          </ul>
        </div>
      </div>
      <!-- Items area -->
      <div class="text-center services-category" data-categories-filter="all">
        <div class="service-grid grid-4">
          <div class="service-item-wrap s123-box-bottom-primary-border-hover preview-highlighter" data-unique-id="65ec0b9cc161e">
            <a class="service-link s123-fast-page-load" href="ushbu-stajirovka-davomida/finlandiyaning-xelsinki-yuvaskula-va-kareliya-universitetlarida-mashg-ulotlar.html">
              <div class="service-item box-primary">
                <span
                  class="fa-stack fa-4x bgLazyload"
                  role="img"
                  aria-label="FINLANDIYANING XELSINKI, YUVASKULA VA KARELIYA UNIVERSITETLARIDA MASHG‘ULOTLAR"
                  data-bg="{% static 'images/8437729/400_65ec0c2350baf.png' %}"
                ></span>
                <div class="service-details">
                  <h4>FINLANDIYANING XELSINKI, YUVASKULA VA KARELIYA UNIVERSITETLARIDA MASHG‘ULOTLAR</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="service-item-wrap s123-box-bottom-primary-border-hover preview-highlighter" data-unique-id="65ec0b9cc2bd8">
            <a class="service-link s123-fast-page-load" href="ushbu-stajirovka-davomida/shvetsiyaga-sayohat.html">
              <div class="service-item box-primary">
                <span class="fa-stack fa-4x bgLazyload" role="img" aria-label="SHVETSIYAGA SAYOHAT" data-bg="{% static 'images/8437729/400_65ec0c9cebdf3.png' %}"></span>
                <div class="service-details">
                  <h4>SHVETSIYAGA SAYOHAT</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="service-item-wrap s123-box-bottom-primary-border-hover preview-highlighter" data-unique-id="65ec0b9cc4124">
            <a class="service-link s123-fast-page-load" href="ushbu-stajirovka-davomida/stokgolm-ta-lim-muassasalari-bilan-tanishish.html">
              <div class="service-item box-primary">
                <span
                  class="fa-stack fa-4x bgLazyload"
                  role="img"
                  aria-label="STOKGOLM TA’LIM MUASSASALARI BILAN TANISHISH"
                  data-bg="{% static 'images/8437729/400_65ec0d0609664.png' %}"
                ></span>
                <div class="service-details">
                  <h4>STOKGOLM TA’LIM MUASSASALARI BILAN TANISHISH</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="service-item-wrap s123-box-bottom-primary-border-hover preview-highlighter" data-unique-id="65ec0d394447f">
            <a class="service-link s123-fast-page-load" href="ushbu-stajirovka-davomida/istanbul-turkiya-univers%c4%b0tetlariga-tashrif-va-sayoxatlar.html">
              <div class="service-item box-primary">
                <span
                  class="fa-stack fa-4x bgLazyload"
                  role="img"
                  aria-label="ISTANBUL, TURKIYA UNIVERSİTETLARIGA TASHRIF VA SAYOXATLAR"
                  data-bg="{% static 'images/8437729/400_65ec0d3731bb9.png' %}"
                ></span>
                <div class="service-details">
                  <h4>ISTANBUL, TURKIYA UNIVERSİTETLARIGA TASHRIF VA SAYOXATLAR</h4>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Adds bottom --->
  </div>
</section>
<section
  id="section-64e4cd5319576"
  class="s123-module s123-module-services layout-10 bg-primary"
  data-module-id="64e4cd5319576"
  data-module-type-num="3"
  data-device-type="computer"
  data-overlay-opacity="true"
>
  <div class="container-fluid page_header_style noBackground">
    <div class="row">
      <div class="container moduleTitleContainer">
        <div class="row modulesTitle text-center">
          <div class="col-xs-12">
            <div class="page-header-wrap">
              <h1 id="section-64e4cd5319576-title" class="s123-page-header">FINLANDIYA UNIVERSITETLARI</h1>
              <hr class="small" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" data-aos="fade-up">
    <!-- Adds top ---><!-- Container --->
    <div class="text-center features-container">
      <!-- Categories area -->
      <div class="row" style="display: none">
        <div class="s123-categories col-xs-12">
          <ul class="items-categories-container" data-category-layouts="true">
            <li data-categories-filter="all"><a href="#">All</a></li>
          </ul>
        </div>
      </div>
      <!-- Items area -->
      <div class="text-center services-category" data-categories-filter="all">
        <div class="service-grid">
          <div class="service-item-wrap preview-highlighter" data-unique-id="64e4cd541ca7d">
            <div class="service-item">
              <span class="fa-stack fa-4x bgLazyload" role="img" aria-label="HELSINKI UNIVERSITETI" data-bg="{% static 'images/8437729/800_65ec15bb2fb15.png' %}"></span>
              <div class="service-item-texts box box-primary">
                <h4 class="">HELSINKI UNIVERSITETI</h4>
                <p class="service-item-description" data-title="HELSINKI UNIVERSITETI">Universitet 1640 yilda tashkil etilgan va mamlakatdagi eng qadimgi ta'lim muassasasi sifatida mashhur</p>
                <a
                  href="finlandiya-universitetlari/helsinki-universiteti.html"
                  class="more-link s123-fast-page-load"
                  aria-label='Batafsil &lt;i class="svg-m s123-icon-converter " data-icon-name="angle-right" style=" mask: url(&apos;https://images.cdn-files-a.com/ready_uploads/svg/angle-right.svg?v=2&apos;); -webkit-mask: url(&apos;https://images.cdn-files-a.com/ready_uploads/svg/angle-right.svg?v=2&apos;);" data-ie11-classes="" alt="angle-right"&gt;&amp;nbsp;&lt;/i&gt;'
                  >Batafsil
                  <i
                    class="svg-m s123-icon-converter"
                    data-icon-name="angle-right"
                    style="mask: url('https://images.cdn-files-a.com/ready_uploads/svg/angle-right.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/angle-right.svg?v=2')"
                    data-ie11-classes=""
                    alt="angle-right"
                    >&nbsp;</i
                  ></a
                >
              </div>
            </div>
          </div>
          <div class="service-item-wrap preview-highlighter" data-unique-id="64e4cd541e391">
            <div class="service-item reverse-item">
              <span class="fa-stack fa-4x bgLazyload" role="img" aria-label="JYVÄSKYLÄ TA’LIM UNIVERSITETI" data-bg="{% static 'images/8437729/800_65fa6cc3b5eff.jpg' %}"></span>
              <div class="service-item-texts box box-primary">
                <h4 class="">JYVÄSKYLÄ TA’LIM UNIVERSITETI</h4>
                <p class="service-item-description" data-title="JYVÄSKYLÄ TA’LIM UNIVERSITETI">
                  Universitet 1863 yilda tashkil etilgan va mamlakatdagi eng qadimgi va eng nufuzli ta'lim muassasasi sifatida mashhur
                </p>
                <a
                  href="finlandiya-universitetlari/jyv%c3%84skyl%c3%84-ta-lim-universiteti.html"
                  class="more-link s123-fast-page-load"
                  aria-label='Batafsil &lt;i class="svg-m s123-icon-converter " data-icon-name="angle-right" style=" mask: url(&apos;https://images.cdn-files-a.com/ready_uploads/svg/angle-right.svg?v=2&apos;); -webkit-mask: url(&apos;https://images.cdn-files-a.com/ready_uploads/svg/angle-right.svg?v=2&apos;);" data-ie11-classes="" alt="angle-right"&gt;&amp;nbsp;&lt;/i&gt;'
                  >Batafsil
                  <i
                    class="svg-m s123-icon-converter"
                    data-icon-name="angle-right"
                    style="mask: url('https://images.cdn-files-a.com/ready_uploads/svg/angle-right.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/angle-right.svg?v=2')"
                    data-ie11-classes=""
                    alt="angle-right"
                    >&nbsp;</i
                  ></a
                >
              </div>
            </div>
          </div>
          <div class="service-item-wrap preview-highlighter" data-unique-id="64e4cedcc0956">
            <div class="service-item">
              <span class="fa-stack fa-4x bgLazyload" role="img" aria-label="KARELIA AMALIY FANLAR  UNIVERSITETI" data-bg="{% static 'images/8437729/800_65fa72eb91a38.jpg' %}"></span>
              <div class="service-item-texts box box-primary">
                <h4 class="">KARELIA AMALIY FANLAR UNIVERSITETI</h4>
                <p class="service-item-description" data-title="KARELIA AMALIY FANLAR  UNIVERSITETI">
                  Kareliya amaliy fanlar universiteti (Karelia UAS) malakali mutaxassislarni tayyorlash orqali ushbu rivojlanishning bir qismi bo'lishdan faxrlanadi.
                </p>
                <a
                  href="finlandiya-universitetlari/karelia-amaliy-fanlar-universiteti.html"
                  class="more-link s123-fast-page-load"
                  aria-label='Batafsil &lt;i class="svg-m s123-icon-converter " data-icon-name="angle-right" style=" mask: url(&apos;https://images.cdn-files-a.com/ready_uploads/svg/angle-right.svg?v=2&apos;); -webkit-mask: url(&apos;https://images.cdn-files-a.com/ready_uploads/svg/angle-right.svg?v=2&apos;);" data-ie11-classes="" alt="angle-right"&gt;&amp;nbsp;&lt;/i&gt;'
                  >Batafsil
                  <i
                    class="svg-m s123-icon-converter"
                    data-icon-name="angle-right"
                    style="mask: url('https://images.cdn-files-a.com/ready_uploads/svg/angle-right.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/angle-right.svg?v=2')"
                    data-ie11-classes=""
                    alt="angle-right"
                    >&nbsp;</i
                  ></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section-65f2eb63a1ab4" class="s123-module s123-module-content-page layout-1" data-module-id="65f2eb63a1ab4" data-module-type-num="95">
  <div class="container-fluid page_header_style noBackground">
    <div class="row">
      <div class="container moduleTitleContainer">
        <div class="row modulesTitle text-center">
          <div class="col-xs-12">
            <div class="page-header-wrap">
              <h1 id="section-65f2eb63a1ab4-title" class="s123-page-header">DASTUR DAVOMIYLIGI VA XARAJATLARI</h1>
              <hr class="small" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" data-aos="fade-up">
    <div class="responsive-handler fr-view breakable">
      <div class="s123-editor">
        <div class="editorBox editorBox_img"><img src="{% static "images/8437729/normal_673af23382b16.png" %}" class="imageWidth100" alt="" data-ratio="1.7861111111111112"></div>
      </div>
    </div>
  </div>
</section>
<section id="section-66003b1328c5d" class="s123-module s123-module-content-page layout-1 bg-primary" data-module-id="66003b1328c5d" data-module-type-num="95">
  <div class="container-fluid page_header_style noBackground">
    <div class="row">
      <div class="container moduleTitleContainer">
        <div class="row modulesTitle text-center">
          <div class="col-xs-12">
            <div class="page-header-wrap">
              <h1 id="section-66003b1328c5d-title" class="s123-page-header">NORDIK EDU TOUR: PEDАGOGIK TUR NАTIJАLАRI</h1>
              <hr class="small" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" data-aos="fade-up">
    <div class="responsive-handler fr-view breakable">
      <div class="s123-editor">
        <p><img src="{% static 'images/8437729/2000_66003db42541c.png' %}" style="width: 752px" class="fr-fic fr-dib" /></p>
        <p><img src="{% static 'images/8437729/2000_66003f3b7ece0.png' %}" style="width: 752px" class="fr-fic fr-dib" /></p>
        <p><img src="{% static 'images/8437729/2000_6600433c24162.png' %}" style="width: 752px" class="fr-fic fr-dib" /></p>
        <p><img src="{% static 'images/8437729/2000_660044d417adb.png' %}" style="width: 752px" class="fr-fic fr-dib" /></p>
        <p><img src="{% static 'images/8437729/2000_66004600c8eca.png' %}" style="width: 752px" class="fr-fic fr-dib" /></p>
      </div>
    </div>
  </div>
</section>
<section
  id="section-65ec24621e27b"
  class="s123-module s123-module-headers layout-30 bg-half-opacity headers-fix-mobile-height"
  data-parallax-images-amount="1"
  data-module-id="65ec24621e27b"
  data-module-type-num="167"
  data-slider-speed="5"
  data-version="2"
>
  <!-- Manage Buttons --><!-- Container -->
  <div class="container-fluid">
    <!-- Top Adds --><!-- Container -->
    <div class="headers-container second-side hpm-height-100vh">
      <div class="headers-text-wrap container">
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 headers-text-resize-container">
            <div class="headers-text-posiosition">
              <div class="headers-text-orders header-text-shadow">
                <!-- Header 1 -->
                <div data-aos="fade-up">
                  <div
                    class="m-h-item header1 custom-font-settings weight700 header-modules-header-font"
                    style="--header-font-size: 47"
                    data-old-bold="false"
                    data-custom-font=""
                    data-is-italic-supported=""
                    data-line-height=""
                  >
                    TASHKILOTCHILAR TOMONIDAN QATNASHCHILAR GURUHINI:
                  </div>
                </div>
                <div class="header-spacer headers-text-separator"></div>
                <!-- Header 2 -->
                <div data-aos="fade-up">
                  <div class="m-h-item header2 custom-font-settings header-global-font" style="--header-font-size: 28" data-custom-font="" data-is-italic-supported="" data-line-height="">
                    &bull;Shvetsiyaning Stokholm shahri va Turkiyaning Istanbul shahri ilmiy kutubxonalari, muzeylari va tabiati bilan tanishtirish;<br /><br />&bull;Jyv&auml;skyl&auml; va
                    Helsinkining diqqatga sazovor joylari boʻylab sayohatga olib borish koʻzda tutilgan.<br /><br />
                  </div>
                </div>
              </div>
              <!-- Container -->
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="header-spacer" data-text-exist="true" data-action-exist="false"></div>
                    <!-- Call To Action -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7">
            <div class="headers-form-wrap preview-highlighter box-primary box-text-primary header-box-shadow box-border-style-1" data-open-tool="contactBox">
              <form
                class="breakable contactUsForm custom-form s123-custom-form-multi-steps"
                data-thanks-msg="Sizning arizangiz qabul qilindi. Biz bilan bog'langaningiz uchun tashakkur. Kuting va biz sizga javob beramiz."
                data-date-format="m/d/Y"
                data-click-action="thankYouMessage"
              >
                {% csrf_token %}
                <div>
                  <div class="text-left">
                    <div class="custom-form-steps" data-total-steps="1">
                      <div class="custom-form-step step-1" data-step="1">
                        <div class="row">
                          <div class="col-xs-12 c-f-field-type" data-field-type="text">
                            <div class="form-group">
                              <label for="full_name">F.I.Sh</label><span>*</span
                              ><input type="text" name="full_name" placeholder="F.I.Sh" class="form-control" required data-msg-required="Это поле является обязательным." />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 c-f-field-type" data-field-type="select">
                            <div class="form-group">
                              <label for="sex">Jins</label><span>*</span
                              ><select name="sex" class="form-control">
                                <option class="c-f-field-title" disabled selected>Jins</option>
                                <option value="male">Erkak</option>
                                <option value="female">Ayol</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 c-f-field-type" data-field-type="number">
                            <div class="form-group">
                              <label for="age">Yoshingiz</label><span>*</span
                              ><input
                                type="number"
                                name="age"
                                class="form-control"
                                placeholder="Yoshingiz"
                                min="18"
                                max="60"
                                required
                                data-msg-required="Это поле является обязательным."
                              />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 c-f-field-type" data-field-type="number">
                            <div class="form-group">
                              <label for="phone_number">Telefon raqam</label><span>*</span
                              ><input type="number" name="phone_number" class="form-control" placeholder="Telefon raqam" required data-msg-required="Это поле является обязательным." />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 c-f-field-type" data-field-type="email">
                            <div class="form-group">
                              <label for="email">Email pochta</label><span>*</span
                              ><input type="email" name="email" placeholder="Email pochta" class="form-control" required data-msg-required="Это поле является обязательным." />
                            </div>
                          </div>
                        </div>
                      </div>
                      <input type="hidden" name="page" value="teacher-training">
                      <button type="submit" class="btn btn-primary btn-block submit-single-step-btn" aria-label="Yuborish">Yuborish</button>
                    </div>
                  </div>
                </div>
                <input type="hidden" name="w" value="" /><input type="hidden" name="websiteID" value="8437729" /><input type="hidden" name="moduleID" value="65ec24621e27b" /><input
                  type="hidden"
                  name="layout"
                  value="30"
                /><input type="hidden" name="recaptchaToken" value="" />
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Images -->
      <div class="headers-img-wrap" style="--header-image-opacity: 0.45">
        <div class="headers-carousel-deactivated carousel slide carousel-fade">
          <div class="carousel-inner">
            <!-- Carousel Slides / Quotes -->
            <div class="item active one-item">
              <div class="headers-item">
                <div
                  class="headers-image"
                  data-bg="{% static 'images/8437729/2000_65ec26a3274bd.png' %}"
                  style="background-image: url({% static 'images/8437729/2000_65ec26a3274bd.png' %}); background-position: center center"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bottom Adds -->
  </div>
</section>
{% endblock %}
