<div></div>
  <div id="header-phone-content" style="display: none">
    <div class="popover_phone_icons">
      <div class="global-contact-details-container text-center" data-type="phone">
        <ul class="list-unstyled">
          <li>
            <a href="tel:+998-909611415"
              ><i
                class="svg-m s123-icon-converter"
                data-icon-name="phone"
                style="mask: url('https://images.cdn-files-a.com/ready_uploads/svg/phone.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/phone.svg?v=2')"
                data-ie11-classes=""
                alt="fa fa-phone"
                >&nbsp;</i
              ><span dir="ltr">+998-909611415</span>&nbsp;-&nbsp;<span>Odil Almurotovich</span></a
            >
          </li>
        </ul>
      </div>
    </div>
    <input type="hidden" id="multiPhonesSettings" value='[{"uniqid":"mp-65f2ef80a1bf0","number":"909611415","dialCode":"+998","countryData":"uz","note":"Odil Almurotovich","type":"1"}]' />
  </div>
  <div id="header-social-content" style="display: none">
    <div class="popover_icons" style="max-height: 100%">
      <div class="social-details-container social-icons" data-module-type-num="24">
        <ul class="list-inline">
          <li>
            <a href="https://www.facebook.com/odil.kuysinov" target="_blank"
              ><i
                class="svg-m s123-icon-converter fa-4x"
                data-icon-name="facebook"
                style="mask: url('https://images.cdn-files-a.com/ready_uploads/svg/facebook.svg?v=2'); -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/facebook.svg?v=2')"
                data-ie11-classes=" fa-4x"
                alt="facebook system-svg-icons "
                >&nbsp;</i
              ></a
            >
          </li>
          <li>
            <a href="https://t.me/nordictraining" target="_blank"
              ><i
                class="svg-m s123-icon-converter fa-4x"
                data-icon-name="telegram5f22835bb828a"
                style="
                  mask: url('https://images.cdn-files-a.com/ready_uploads/svg/telegram5f22835bb828a.svg?v=2');
                  -webkit-mask: url('https://images.cdn-files-a.com/ready_uploads/svg/telegram5f22835bb828a.svg?v=2');
                "
                data-ie11-classes=" fa-4x"
                alt="site123-image-icon system-svg-icons  telegram5f22835bb828a"
                >&nbsp;</i
              ></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <input type="hidden" id="facebook_url" name="facebook_url" value="" /> <input type="hidden" id="twitter_url" name="twitter_url" value="" />
</div>